.grid{
    display: grid;
    grid-template-columns: auto auto;
    margin:20px;
}

.grid-item{
    padding: 20px;
    font-size: 1.5rem;
}

input{
    height: 30px;
    width: 100%;
    font-size: 1rem;
    background-color: antiquewhite;
    border: 1px solid ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
div>table{
    margin-top: 40px;
}
table,th,td{
    width: 100%;
    background-color: antiquewhite;
    border: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
tr>td{
    background-color: aliceblue;
    padding: 15px;
}